<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">

    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>org.studwork.sort.controller.Controller</servlet-class>
        <load-on-startup>0</load-on-startup>
        <multipart-config>
            <max-file-size>50024000</max-file-size>
            <max-request-size>50024000</max-request-size>
            <file-size-threshold>50024000</file-size-threshold>
        </multipart-config>
    </servlet>

    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/controller/*</url-pattern>
    </servlet-mapping>

</web-app>
